<div class="container-fluid main">
 <p class="username">Username: {{ userName }}</p>
 <p class="username">Avg per game</p>
 <div class="name" ng-repeat="name in champList">  
   <div>Champion: {{name}}</div>
   <div>Played: {{champStats[$index].totalSessionsPlayed}}</div>
   <div>Win: {{champStats[$index].totalSessionsWon}}</div>
   <div>Loss: {{champStats[$index].totalSessionsLost}}</div>
   <div>Kill: {{champStats[$index].totalChampionKills / champStats[$index].totalSessionsPlayed | number:2}}</div>
   <div>Assist: {{champStats[$index].totalAssists / champStats[$index].totalSessionsPlayed | number:2}}</div>
 </div>


</div>
